


.block {
	display	:	inline-flex	;
	flex-direction	:	column	;
	border	:	solid	;
	padding	:	4px	;
	position	:	absolute	;
}
.block.-selected {
	border-color	:	red	;
}
.block:not(.-selected) {
	cursor	:	move	;
}
.block:not(.-selected) .block-connection {
	cursor	:	default	;
	pointer-events	:	initial	;
}
.block:not(.-selected) *:not(.block-connection) {
	pointer-events	:	none	;
}

.block-input {
	min-width	:	1em	;
	padding	:	2px	;
}


.block-row {
	display	:	flex	;
	align-items	:	center	;
	padding	:	1px	;
}
.block-connection {
	background	:	black	;
	width	:	1em	;
	height	:	1em	;
}
.block-connection.-selected {
	background	:	red	;
}
.block-row-middlePadding {
	flex	:	1	;
	min-width	:	4px	;
}



.line {
	position	:	absolute	;
	height	:	2px	;
	background	:	black	;
}
.line-run {
	position	:	absolute	;
	height	:	2px	;
	background	:	blue	;
}